<!--Please use bootstrap for now as you want to focus on functionality. Later on you can create your own styles-->
{% load staticfiles %}
<html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class = 'container'>
	<div class = 'row'>
		<h1> {{user.username}}'s Tiles </h1>
	</div>

	<div class = 'row'>

		<div class = 'col-md-10 col-md-offset-1'>
			{% for tile in tiles %}
				{% if tile.public %}

			<div class = 'col-md-3 tile {% if not tile.solved%} not-{% endif %}solved'>

				<p>{{tile.content}}<p>
				<p>{{tile.created_date}}<p>

				{% if tile.solved %}
				<span>Solved!</span>
				{% else %}
				<a href="">Help</a>
				{% endif %}

				
				


			</div>
			{% endif %}
				{% endfor %}
		</div>

	</div>

</div>
</body>
<script>
var complaint = document.getElementById('complaint');
var add = document.getElementById('add');
var form = document.getElementById('add-new-tile');
add.addEventListener('click',
	function(){
		if(form.getAttribute('style') == 'display:none'){
		form.setAttribute('style','display:true');}
		else
			{form.setAttribute('style','display:none');}
	});
/*complaint.addEventListener('keypress',
	function(){
		complaint.innerHTML = '';
	});*/

//When 'Solved?' is clicked, want to make a request to the server to change the status
//Then want to modify the appearance of the tile by changing the class 



</script>
</html>
