{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div> <h1> WALL </h1> </div>
<div> <a href ="{% url 'wallLogin' %}"><span>Login</span></a> </div>
<!--<div> Sign Up </div>-->
<div> Example tiles </div>
<h2> Share your troubles </h2>
<form method="POST" id = 'register'> 
	{% csrf_token %}
	{{ form.as_p }}
	<button>Sign Up</button>
</form>
</form>
</body>
</html>

