<!--Please use bootstrap for now as you want to focus on functionality. Later on you can create your own styles-->
{% load staticfiles %}
<html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class = 'container'>
<div class = 'row'>

<div class = 'col-md-2 col-md-offset-1'>
<div id = 'add'>+</div>
</div>
<div class = 'col-md-8'>
<!--<form id = 'add-new-tile' style = 'display:none'>-->
<a href ='#'><span>Home</span></a>
<a href ='#'><span>Settings</span></a>
<span> {{user.username}} </span>
<span> Score: {{user.score}} </span>
<span> Logout </span>
<form id = 'add-new-tile'>
	<textarea id = 'complaint'>What's wrong?</textarea>
	<br>
	<button> Post </button>
</form>

</div>
</div>


<div class = 'row'>

<div class = 'col-md-10 col-md-offset-1'>
	{% for tile in tiles %}
	<div class = 'col-md-3 tile'>
		<p>{{tile.content}}<p>
		<p>{{tile.created}}<p>
		<button> Edit </button>
		<button> Delete </button>
		<button> Share </button>
		<input type='checkbox'>Solved?
	</div>
		{% endfor %}

	</div>


</div>

</div>
</body>
<script>
/*var complaint = document.getElementById('complaint');
var add = document.getElementById('add');
var form = document.getElementById('add-new-tile');
add.addEventListener('click',
	function(){
		form.setAttribute('style','display:true');
	});
complaint.addEventListener('keypress',
	function(){
		complaint.innerHTML = '';
	});*/


</script>
</html>
